<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <title>{{ page.title }}</title>
   <meta name="author" content="Rob Whitby"/>
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
   <link rel="stylesheet" type="text/css" href="/css/global.css"/>
   <link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
</head>
<body>

<section id="content">
  {{ content }}
</section>

</body>

<script>
  var  _gaq=[['_setAccount','UA-10254865-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</html>
